application.yaml
.settings
.project

web/src/main/resources/application.yaml
web/.project
web/target/
web/.classpath
web/.settings

domain/.project
domain/target/
domain/.classpath
domain/.settings

service/.project
service/target/
service/.classpath
service/.settings

entity/.project
entity/target/
entity/.classpath
entity/.settings

repo/src/main/resources/application.properties
repo/.project
repo/target/
repo/.classpath
repo/.settings